@{
    ViewData["Title"] = "Check In Page";
}
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/check-in.css">
    
    <div class="page">
        <div class="header-div"> 
            <h1 class="header-page"> car details </h1>
            <img class="page-picture" src="../images/check-in-car.jpeg" alt="checl in car">
        </div>
        <div class="container">
            <form id="createVersionForm" class="form-data">
                <div class="inserted-data">name :<input class = "input-el" type = "text" placeholder="Name" name="name" id="name" required="true"></div>
                <div class="inserted-data">licence plate ID : <input class = "input-el" name="plateId" placeholder="Plate Id" id="plateId" required="true"></div>
                <div class="inserted-data">phone : <input class = "input-el" type="tel" name="phone" placeholder="phone number" id="phone" pattern="[0-9]{3}-[0-9]{7}" required="true"></div>
                <div class="inserted-data">ticket type : <input class = "input-el" type="text" name="ticketType" placeholder="ticket type"  id="ticketType" required="true"></div>
                <!--<div class="inserted-data">vehicle type :<input class = "input-el" type = "text" placeholder="vehicle type" name = "vehicleType" id="vehicleType" required="true"></div>-->
               <div class="inserted-data">
                    vehicle type :
                    <select class="input-el" name="vehicleType" id="vehicleType" required="true">  
                        <option value="Motorcycle">Motorcycle</option>
                        <option value="Private">Private</option>
                        <option value="Crossover">Crossover</option>
                        <option value="SUV">SUV</option>
                        <option value="Van">Van</option>
                        <option value="Truck">Truck</option>
                    </select>
                </div>
                <div class="inserted-data">vehicle height :<input class = "input-el" type ="text" placeholder="vehicle height" name = "vehicleHeight" id="vehicleHeight" required="true"></div>
                <div class="inserted-data">vehicle width :<input class = "input-el" type ="text" placeholder="vehicle width" name = "vehicleWidth" id="vehicleWidth" required="true"></div>
                <div class="inserted-data">vehicle length :<input class = "input-el" type ="text" placeholder="vehicle length" name = "vehicleLength" id="vehicleLength" required="true"></div>
                <div class="submit-div"><input class="simple-button" onclick="sendPostToServer('http://localhost:5001/CheckIn')" type = "button" value = "submit" /></div>
                
            </form>
        </div>
        
        
        <input class="simple-button" type = "button" onclick="openWindow('http://localhost:5001/')" value="return to main page"/>
        
    </div>
    
    <script src="../js/site.js"  type="text/javascript"> </script>