@{
    ViewData["Title"] = "Main Page";
}
   
    <div class="page">
        <div class="header-div">
            <h1> P.G
                <span class="blink">a</span>
                r
                <span class="blink">a</span>
                ge </h1>
        </div>
        <img class="page-picture" src="./car-logo.png" alt="main page pic">
        <div class="container">
            <button class="operation-btn"> Store My Car </button>
            <button class="operation-btn"> Pick My Car </button>
            <button class="operation-btn"> Garage State </button>
        </div>
    </div>
